In [3]:
import pandas as pd

data = pd.read_csv('spam.csv')
data.drop(["Unnamed: 2","Unnamed: 3","Unnamed: 4"], axis=1)
data.head()

                                                                label, text
v1   v2                                                 NaN NaN         NaN
ham  Go until jurong point, crazy.. Available only i... NaN NaN         NaN
     Ok lar... Joking wif u oni...                      NaN NaN         NaN
spam Free entry in 2 a wkly comp to win FA Cup final... NaN NaN         NaN
ham  U dun say so early hor... U c already then say...  NaN NaN         NaN