In [3]:
import numpy as np
import pandas as pd
from sklearn.decomposition import PCA
from sklearn import preprocessing
import matplotlib.pyplot as plt

In [4]:
df = pd.read_excel('pca_uk.xlsx')
df.head()

   England  N Ireland  Scotland  Wales          Features
0      375        135       458    475  Alcoholic drinks
1       57         47        53     73         Beverages
2      245        267       242    227      Carcase meat
3     1472       1494      1462   1582           Cereals
4      105         66       103    103            Cheese

In [6]:
X = np.array([df[i].values for i in df.columns if i != 'Features'])
print(X)

[[ 375   57  245 1472  105   54  193  147 1102  720  253  685  488  198
   360 1374  156]
 [ 135   47  267 1494   66   41  209   93  674 1033  143  586  355  187
   334 1506  139]
 [ 458   53  242 1462  103   62  184  122  957  566  171  750  418  220
   337 1572  147]
 [ 475   73  227 1582  103   64  235  160 1137  874  265  803  570  203
   365 1256  175]]

In [7]:
pca = PCA(n_components=2)
X_r = pca.fit_transform(X)

# Principle components of 17 features
print(X_r)

[[-144.99315218   -2.53299944]
 [ 477.39163882  -58.90186182]
 [ -91.869339    286.08178613]
 [-240.52914764 -224.64692488]]